html
  head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    title Feed Converter
    style
      include style.css
  body
    h1 RSS to ActivityPub Converter
    p.account by <a href="https://friend.camp/@darius">Darius Kazemi</a>
    p This is a service to convert any RSS feed into an account that Mastodon (or any other ActivityPub social network) can subscribe to. <a href="https://github.com/dariusk/rss-to-activitypub/">Source code here</a>.
    p Only users of <a href="https://#{OAUTH.domain}">#{OAUTH.domain_human}</a> can create feeds, but anyone can subscribe if they know the account info.
    p <a href="https://#{OAUTH.domain}#{OAUTH.authorize_path}?scope=read:accounts&response_type=code&redirect_uri=#{OAUTH.redirect_uri}&client_id=#{OAUTH.client_id}">Click here to log in!</a>
